@using PlacementManagementCell.Models.ViewModels
@model StudentCompanyDetailViewModel



@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<script src="~/js/StudentLanding.js"></script>

<partial name="_StudentHeader" model="Model.StudentHeader" />
@if (TempData["company-apply-success"] != null)
{
    string str = TempData["company-apply-success"].ToString();
    <partial name="_ToastSuccess" model="@str" />
}

<div class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="@Model.Company.CompanyLogo" alt="Company Logo" class="img-fluid" style="max-height:320px" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <h1 class="fw-bold">@Model.Company.Name</h1>
                <p>@Model.Company.BriefDesc</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <h2>Job Details</h2>
                <ul>
                    <li>Title: @Model.Company.Title</li>
                    <li>Technology: @Model.Company.Technology</li>
                    <li>Package: @Model.Company.Package</li>
                    <li>No. of Vacancies: @Model.Company.NoOfVacancy</li>
                    <li>Location: @Model.Company.City</li>
                    <li>From: @Model.Company.FromDate.ToString().Substring(0,11) To: @Model.Company.ToDate.ToString().Substring(0,11)</li>
                    <li>Deadline: @Model.Company.Deadline.ToString().Substring(0,11)</li>
                </ul>
            </div>
            <div class="col-md-8">
                <h2>Description</h2>
                <p>@Model.Company.LongDesc</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <h2>Company Address</h2>
                <p>@Model.Company.CompanyAddress</p>
                <h2>Documents</h2>
                <div class="d-flex flex-column align-items-start justify-content-center">
                    <a href="@Model.Company.FilePath" target="_blank">
                        <i class="bi bi-folder" style="font-size: 5rem;"></i>
                        <div class="text-center" style="margin-top:-4.5rem;font-size:11px">Click Here</div>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Training and Benefits</h2>
                <p>@Model.Company.TrainingInfo</p>
                <p>@Model.Company.BenefitsAndPerks</p>
            </div>
        </div>

        <div class="form-check mt-3">
            <input class="form-check-input" type="checkbox" id="readDetailsCheckbox">
            <label class="form-check-label" for="readDetailsCheckbox">
                I have read and agree to abide by the company's policies on workplace conduct, data privacy, and confidentiality. I understand that any violation of these policies may result in disciplinary action, up to and including termination of employment.
            </label>
        </div>

        <div class="d-flex align-items-center justify-content-start">
            <button class="btn btn-primary bg-light text-dark my-3" id="btnToApply" onclick="CompanyApply(@Model.Company.CompanyId)">Apply Now</button>
        </div>
    </div>
</div>

@*<h2>@Model.Company.CompanyLogo</h2>*@