@using PlacementManagementCell.Models.ViewModels
@model CompanyCardsTotalViewModel

<div class="container mt-4 mb-5">
    <div class="row px-0 view-group">

        @foreach (var item in Model.CompanyCards)
        {
            <div class="item col-md-6 col-sm-12 col-lg-4 my-4">
                <div class="card card-to-hover thumbnail shadow card-to-scale">
                    <div class="card bg-dark">
                        <img src="@item.CompanyLogo" class="card-img-top m-auto" alt="..." style="height:250px;width:200px;object-fit:contain">
                        <div class="card-img-overlay card-hover-overlay">
                            <div class="d-flex flex-column hidden-info">
                                <div class="location-field text-dark bg-light px-2 py-1 rounded-pill text-center hidden-info">
                                            <i class="bi bi-geo-alt text-decoration-none fst-normal">Job Location &nbsp; @item.City</i>
                                </div>
                                <div class="bg-light p-1 my-1 rounded-pill d-flex justify-content-center align-items-center hidden-info">
                                    <i class="bi bi-mortarboard text-decoration-none fst-normal text-dark">Technology &nbsp; @item.Technology</i>
                                </div>
                                <div class="bg-light p-1 my-1 text-center rounded-pill border-0 recommendation-grid-list hidden-info" id="tempToCoworker" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" onclick="gridListRecommend()">
                                    <i class="bi bi-currency-rupee text-decoration-none fst-normal text-dark">Package &nbsp;
                                        @{
                                            if (item.Package >= 100000)
                                            {
                                                decimal packageInLakhs = (decimal)item.Package / 100000;
                                                packageInLakhs = decimal.Round(packageInLakhs, 1, MidpointRounding.AwayFromZero);
                                                string packageString = string.Format("{0:N1}", packageInLakhs);
                                                @($"{packageString} L")
                                            }
                                            else
                                            {
                                                @item.Package
                                            }
                                        }
                                    </i>
                                </div>

                            </div>
                        </div>
                    </div>
                    <span class="fw-lighter bg-dark rounded-pill text-center text-light w-50 align-self-center"
                          style="margin-top: -10px; z-index: 5;">@item.Name</span>
                    <div class="card-body card-body-h-450px d-flex flex-column justify-content-between">
                        <h5 class="card-title">
                            @item.Title
                        </h5>

                        <p class="card-text card-text-h-150px">
                            @item.BriefDesc
                        </p>

                        <div class="d-flex justify-content-center">
                            <span class="rounded-pill bg-white fw-light border px-2 mt-4" style="z-index: 1;">
                                From @item.FromDate.ToString().Substring(0, 11) until @item.ToDate.ToString().Substring(0, 11)
                            </span>
                        </div>
                        <hr class="" style="margin-top: -10px;">

                        <div class="time-seats">
                            <div class="d-flex time-seats-wrapper align-items-center justify-content-between">
                                <div class="d-flex align-items-center justify-content-between w-100">

                                    <div class="d-flex align-items-center">

                                        <div class="seats mx-2">
                                            <i class="bi bi-shop"></i>
                                        </div>
                                        <div class="d-flex flex-column">
                                            <span>
                                                @item.NoOfVacancy
                                            </span>
                                            <span class="fw-lighter">Vacancy Open</span>
                                        </div>
                                    </div>

                                    <div class="deadlines d-flex align-items-center justify-content-between">
                                        <div class="deadline mx-2">
                                            <i class="bi bi-clock"></i>
                                        </div>
                                        <div class="d-flex flex-column ">
                                            <span>@item.Deadline.ToString().Substring(0, 11)</span>
                                            <span class="fw-lighter">Deadline</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="mission-submit-btn text-center">
                                <button class="btn bg-white  rounded-pill px-4" onclick="companyDetails(@item.CompanyId)">
                                    View Details
                                    &nbsp; &nbsp;<i class="bi bi-arrow-right"></i>
                                </button>
                        </div>
                    </div>
                </div>

            </div>

        }

    </div>
</div>


@{
    double d = Model.TotalCompanies / 3.0;
    //double d = 3;
    double pages = Math.Ceiling(d);
}


<div class="mt-4 text-center m-auto">
    <nav aria-label="Page navigation example" class="company-listing-pagination-nav m-auto" style="width:fit-content">
        <ul class="pagination">
            <li class="page-item mx-2">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                </a>
            </li>
            <li class="page-item mx-2">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                </a>
            </li>
            @for (int i = 1; i <= @pages; i++)
            {
                <li class="page-item" id="@i"><a class="page-link">@i</a></li>
            }


            <li class="page-item mx-2">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                </a>
            </li>
            <li class="page-item mx-2">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                </a>
            </li>
        </ul>
    </nav>
</div>














