@using PlacementManagementCell.Models.ViewModels
@model StudentHeaderViewModel

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


@if (TempData["user-profile-edit"] != null)
{
    string str = TempData["user-profile-edit"].ToString();
    <partial name="_ToastSuccess" model="@str" />
}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#">Student Placement Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-end w-100 align-items-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="StudentLanding" asp-controller="Student">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="StudentApplication" asp-controller="Student">Applications</a>
                </li>
                <li class="nav-item">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="text-decoration-none">
                        <i class="bi bi-bell text-decoration-none fst-normal text-secondary">  Notifications</i>
                    </a>
                </li>
                <li class="nav-item d-flex flex-column align-items-center ms-4">
                    <a class="nav-link">
                        @if(Model.Avatar!=null){
                            <img src="@Model.Avatar" class="rounded-circle"  style="height:50px;width:50px"/>
                        }
                        else
                        {
                            <img src="~/assets/default-user-profile-picture-300x300.jpg" class="rounded-circle" style="height:50px;width:50px" />
                        }
                    </a>
                    <div class="dropdown">
                        <button class="btn btn-secondary bg-none text-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @Model.Name
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><button class="dropdown-item" onclick="StudentProfileEdit()">Edit Profile</button></li>
                            <li><a class="dropdown-item" href="#">Contact Us</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item bg-danger" asp-action="Login" asp-controller="Student">Logout</a></li>
                        </ul>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>
<hr style="height:2px" />

<button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#studentProfileEdit" id="hiddenbtn-for-student-editmodal"></button>
<div id="Student-Edit-Modal-Wrapper">
    <partial name="_StudentProfileEdit"  model="new Student()"/>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" style="height:400px;">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Recent Notifications</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @foreach(var item in Model.StudentNotifications)
                {
                    <div class="d-flex w-100 mt-2 align-items-center">
                        <img src="@item.CompanyLogo" style="height:50px;width:50px" class="rounded-circle border me-2" alt="">
                        <a href="@item.LinkToRedirect" class="fw-bold text-decoration-none fst-normal text-dark">@item.JobTitle</a>
                    </div>
                    <hr class="divider">
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Mark As Read</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
